@import url(../../assets/fonts.css);

body {
    background-color: rgb(0, 0, 0);
}
img {
    border-radius: 30px;
}
.outer {
    display: flex;
    height: 100vh;
}
.headerone {
    font-family: Gilroy;
    margin: auto;
    text-align: center;
    color: aliceblue;
}