@import url(../../assets/fonts.css);

body {
    background-color: rgb(0, 0, 0);
}
img {
    border-radius: 30px;
}
.outer {
  display: grid;
  /* border: 2px solid blue; */
}
.headerone {
    margin: 15vh;
    /* border: 2px solid rgb(93, 28, 28); */
    min-height: 65vh;
    text-align: center;
    color: aliceblue;
}